Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Build/Windows/MaHat_1.0/GMTK25/Content/Paks/GMTK25-Windows.pak
Build/Windows/MaHat_1.0/GMTK25/Content/Paks/GMTK25-Windows.ucas
Build/Windows/MaHat_1.0/GMTK25/Content/Paks/GMTK25-Windows.utoc
Build/Windows/MaHat_1.0/Manifest_NonUFSFiles_Win64.txt
Build/Windows/MaHat_1.0/Manifest_UFSFiles_Win64.txt
Build/Windows/MaHat_1.0/GMTK25.exe
